APP_KEY=base64:jXDs1hElVP5+CpBCB8FhbeWK4itRxU8BP8O9SARi13Y=
APP_DEBUG=true

DB_CONNECTION=pgsql
DATABASE_URL=postgres://mydatabase_chgm_user:I1Vet2CVEEH1rTolRokPNurDv2pEu2WF@dpg-cof4d7i1hbls7395mk4g-a/mydatabase_chgm

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=lara.vel.smtp.mailserver@gmail.com
MAIL_PASSWORD='ampn yjqx slyv hemy'
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=lara.vel.smtp.mailserver@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

YOUTUBE_APP_ID=AIzaSyANbqwzYPpzRtst_VGpLnyCVsDjy5k1Smg
